.consolas__tarjeta{
    margin-bottom: 1rem;
}

.consolas__composicion{
    display: flex;
    flex-direction: column;
    height: 65%;
}

.consolas__borrar{
    position: relative;
    width: 1rem;
    top: -160px;
    left: 60%;
}

.consolas__editar{
    position: relative;
    width: 1rem;
    top: -180px;
    left: 80%;
}