@media screen and (min-width: 360px) {
    .banner__descripcion{
        color:  #e9e6e6;
        font-size: 1rem;
        margin-bottom: .3rem;
        margin-left: 0.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .banner__descripcion{
        margin-left: 5rem;
    }
}