@media screen and (min-width: 360px) {
    .banner__titulo{
        color: #e9e6e6;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: .3rem;
        margin-left: 0.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .banner__titulo{
        margin-left: 5rem;
    }
}