@media screen and (min-width: 360px) {
    .star-wars__tarjeta{
        margin-bottom: 1rem;
    }
    
    .star-wars__composicion{
        display: flex;
        flex-direction: column;
        height: 65%;
    }
    
    .star-wars__borrar{
        position: relative;
        width: 1rem;
        top: -160px;
        left: 60%;
    }
    
    .star-wars__editar{
        position: relative;
        width: 1rem;
        top: -180px;
        left: 80%;
    }
    .oculto{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
   .oculto{
        display: block;
   } 
}